:root{
    --primary-color:#fff;
    --footer-color:#3778FA;
    --font-color:#0000;

    --font-body:'SpaceGrotesk-Bold',sans-serif;
    --font-text:'SpaceGrotesk-Regular',sans-serif;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face{
    font-family: 'SpaceGrotesk-Regular';
    src: url('fonts/static/SpaceGrotesk-Regular.ttf') format('truetype');
    font-size: 400;

}

@font-face {
    font-family: 'SpaceGrotesk-Bold';
    src: url(/fonts/static/SpaceGrotesk-Bold.ttf) format('truetype');
    font-size: 700;
}


body{
    font-family: var(--font-body);
    background: var(--primary-color);

}
img{
    max-width: 100%;
    display: block;
}
.logo{
    color: rgba(55,120,250,1);
    font-size:20px;
    font-family: var(--font-text);
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    padding: 1rem 0;
    width: 100%;
box-shadow: 0 2px 4px rgb(0,0,0,0,0.1);
margin-top: 51px;

}
.header-inner{
display: flex;
justify-content: space-between;
}
.menu-desktop{
    display: none;
}
.menu-mobile button{
    background-color: var(--primary-color);
    border: 0;
    font-weight: 700;
    font-size: 2rem;
}
.menu-login{
    display: none;
}
.hero{
font-weight: 600;

}


.hero-content h2{
    display: flex;
    justify-content: center;   
    align-items: center;       
    text-align: center;       
    margin-bottom:23px ;
    letter-spacing: -2px;
    font-weight: 100;
    font-size: 45px;
    height: 100%; 
    margin-top: 55px; ;
}
.hero-content p{
    font-family: var(--font-text);
    font-weight: 100;
 color: #000000;
 align-items: center;
font-size: 0.9rem;
text-align: center;
margin-bottom: 40px;
}
.dream-job h2{
    
    margin-top: 109px;
    align-items: center;
    font-size: 10000px;
}