:root{
    --primary-color:#fff;
    --footer-color:#3778FA;
    --font-color:#0000;

    --font-body:'SpaceGrotesk-Bold',sans-serif;
    --font-text:'SpaceGrotesk-Regular',sans-serif;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face{
    font-family: 'SpaceGrotesk-Regular';
    src: url('fonts/static/SpaceGrotesk-Regular.ttf') format('truetype');
    font-size: 400;

}

@font-face {
    font-family: 'SpaceGrotesk-Bold';
    src: url(/fonts/static/SpaceGrotesk-Bold.ttf) format('truetype');
    font-size: 700;
}


body{
    font-family: var(--font-body);
    background: var(--primary-color);

}
img{
    max-width: 100%;
    display: block;
}
li{
    list-style: none;
}
.logo{
    color: rgba(55,120,250,1);
    font-size:20px;
    font-family: var(--font-text);
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    padding: 1rem 0;
    width: 100%;
box-shadow: 0 2px 4px rgb(0,0,0,0,0.1);
margin-top: 17px;

}
.header-inner{
display: flex;
justify-content: space-between;
}
.menu-desktop{
    display: none;
}
.menu-mobile button{
    background-color: var(--primary-color);
    border: 0;
    font-weight: 700;
    font-size: 2rem;
}
.menu-login{
    display: none;
}
.hero{
font-weight: 600;

}


.hero-content h2{
    display: flex;
    justify-content: center;   
    align-items: center;       
    text-align: center;       
    margin-bottom:23px ;
    letter-spacing: -2px;
    font-weight: 100;
    font-size: 45px;
    height: 100%; 
    margin-top: 55px; ;
}
.hero-content p{
    font-family: var(--font-text);
    font-weight: 100;
 color: #000000;
 align-items: center;
font-size: 0.9rem;
text-align: center;
margin-bottom: 40px;
}
.dream-job .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}
.dream-job h2{
    font-family: var(--font-text);
    margin-bottom: 35px;
    margin-top: 109px;
    font-size: 30px;
}
.dream-job img{
    margin-bottom: 109.5px;
}

.body-choose{
    font-family: var(--font-text);
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
 justify-content: center;
    align-items: center;
   
}
.body-choose h2{
 font-size: 30px;
margin-bottom: 29px;

}

.choose-box{
    background-color: #F3F3F3;
    border-radius: 0.8rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  
  
}
.body-choose img{
    margin-top: 50px;
    margin-bottom: 50px;
}
.card{

    font-weight: 500;
   background-color: #FFFFFF; 
   margin-top: 9.65px;
   border-radius: 8px;
   font-size: 16px;
   align-items: center;
}
.card h3{
    font-weight: 100;
    color: #000000;
    font-size: 16px;
    margin-top: 17px;
    margin-bottom: 17px;

}


.card-body{
font-weight: 200;
    display: flex;
    justify-content: space-between;
align-items: center;
    margin: 11px;

}
.card-body .span{
    background-color: #fff;
    border: 0;
font-weight: 700;
font-size: 2rem;
margin: 24px;
}
.space-card{
   width: 100%;
}
.card-icon{
    display: flex;
    justify-content: space-between;
 
   
}
.card-icon h3{
margin-top: 7.35px;   
margin-bottom: 6px;
}
.card-body h4{
    font-family: var(--font-body);
    font-size: 10px;
    font-weight: 100;
    color: #65676C;
    font-weight: 400;

}


.texto{
    display: block;

    margin-bottom: 11.65px;
    max-width: 227px;
    height: 34px;
 
}




.footer{
    font-family: var(--font-text);
    background-color: var(--footer-color);
    margin-top: 100px ;
    color: #fff;
}
.footer-inner{
    padding-top:4.75rem;

}
.footer h3{
font-size: 46px;
max-width: 80%;
font-weight: 600;
}
.footer-text h4{
    font-family: var(--font-body);
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    font-weight: 400;
    margin-top: 21px;
    max-width: 72%;
    margin-bottom: 27px;
}
.learn-more{
    background-color: white;
    border-radius: 100px;
    color: black;
    padding: 7px 11px;
    font-size: 14px;
    width: 119px;
    height: 40px;
  

}
.after-bottom{
    border-top: 1px solid white;
    margin:20px 0;
    margin-top: 80px;
    margin-bottom: 79px;
}
.footer-mid-part{
display: flex;
flex-direction: row;
justify-content: space-between;
gap: 10px;
}
.footer-dsc{
    margin:21px;
}

.footer-dsc h4{
    margin-bottom: 17px;
}
.footer-dsc h5{
    max-width: 60%;
}
.esp-link{
    display: flex;
    flex-direction: column;
gap: 10px;
}
.footer-explore  {


}
.footer-end-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 76px;
    margin: 21px;
}